2025-1 Deep Learning - Assignment1/*
2025-1 Deep Learning - Assignment2/*
2025-1 Deep Learning - Project Proposal/*

!2025-1 Deep Learning - Assignment1/*.pdf
!2025-1 Deep Learning - Assignment1/*.tex
!2025-1 Deep Learning - Assignment1/*.sty
!2025-1 Deep Learning - Assignment1/*.bib

!2025-1 Deep Learning - Assignment2/*.pdf
!2025-1 Deep Learning - Assignment2/*.tex
!2025-1 Deep Learning - Assignment2/*.sty
!2025-1 Deep Learning - Assignment2/*.bib

!2025-1 Deep Learning - Project Proposal/*.pdf
!2025-1 Deep Learning - Project Proposal/*.tex
!2025-1 Deep Learning - Project Proposal/*.sty
!2025-1 Deep Learning - Project Proposal/*.bib